{% extends "base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
    <h1>Вхід</h1>
    {% if from.errors %}
        <p>Логін або пароль введено не вірно. Спробуйте ще раз</p>
    {% else %}
        <p>Заповніть форму нижче, щоб залогінитись</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Вхід"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">Забули пароль?</a></p>
    </div>
    <div class="social">
        <ul>
            <li class='facebook'>
                <a href="{% url 'social:begin' 'facebook' %}">Sign in with FB</a>
            </li>
            <li class='twitter'>
                <a href="{% url 'social:begin' 'twitter' %}">Sign in with Twitter</a>
            </li>
            <li class="google">
                <a href="{% url 'social:begin' 'google' %}">Sign in with G+</a>
            </li>
        </ul>
    </div>
{% endblock %}