{% extends "base.html" %}

{% block title %}Відновлення паролю{% endblock %}

{% block content %}
	<h1>Відновлення паролю</h1>
	{% if validlink %}
		<p>Введіть новий пароль двічі</p>
		<form action="." method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<p><input type="submit" value="Змінити пароль"></p>
		</form>
	{% else %}
		<p>Посилання для відновлення паролю не вірне. Можливо це посилання вже було використано. Запросіть новий пароль <a href="{% url 'password_reset' %}">ще раз</a>.</p>
	{% endif %}
{% endblock %}